@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="mb-3">Privacy Policy</h1>
        <p>Our website collects personal information from visitors who sign up for our events. We use this information to communicate with our users about their event registrations and to improve our services.</p>
        <p>We will never share or sell this information to third parties without the user's explicit consent.</p>
        <p>For more information about our privacy policy, please contact us at privacy@events.com.</p>
    </div>
</div>







